*{
 margin: 0px;
}
#logo{
    width: 250px;
    margin-top: 50px;
}
#logo, main{
    margin-left: 5px;
}

.boolean{
background-color: #4EA0FF;
background-image: url(../img/pattern.png);
height: 120px;
background-size: 500px;
}

h1{
    font-size: 50px;
    line-height: 50px;
}
span{
    color: rgb(39, 185, 253);
    font-size: 18px;
    
}
.small-text{
    font-size: 12px;
}
.grey-text{
    color: #808080;
}
.margin-top{
    margin-top: 20px;
}
ul{
   padding: 15px;
}
.last-column{
    width: 50%;
}
.blue-row{
    background-color:#20A9E5 ;
    color: white;
}
.light-blue-row{
    background-color: #B1E5F2;
}
.white-row{
    background-color: white;
}
.border-table{
    border-collapse: collapse;
}
.box{
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    background-size: contain; 
}
#monitor{
    background-image: url(../img/monitor.jpg);
}
#grafico{
    background-image: url(../img/graph.jpg);
}
.text-inside{
    color: white;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.bold{
    font-weight: bold;
    
}