*{
 margin: 0px;
}
#logo{
    width: 250px;
    margin-top: 50px;
}
#logo, main{
    margin-left: 5px;
}

.boolean{
background-color: #4EA0FF;
background-image: url(../img/pattern.png);
height: 120px;
background-size: 500px;
}

h1{
    font-size: 50px;
    line-height: 50px;
}
span{
    color: rgb(39, 185, 253);
    font-size: 18px;
}
.small-text{
    font-size: 12px;
}
.grey-text{
    color: #808080;
}
.margin-top{
    margin-top: 20px;
}
ul{
   padding: 15px;
}
.last-column{
    width: 50%;
}
.blue-row{
    background-color:#20A9E5 ;
}
.light-blue-row{
    background-color: #B1E5F2;
}
.white-row{
    background-color: white;
}
.border-table{
    border-collapse: collapse;
}
